@use './partials/globalReset';
@use './partials/colors';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.button {
    background-color: #1975c0;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 29px;
    border-radius: 999px;
}