@use './partials/globalReset';
@use './partials/colors';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.button {
    background-color: #1975c0;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 29px;
    border-radius: 999px;
    transition: background-color 0.3s ease-in-out;
}
.button:hover {
    background-color: lighten(#1975c0, 20%);
}

h6 {
    color: #585858;
    font-size: 16px;
    text-transform: uppercase;
}
h5 {
    color: #1975c0;
    font-size: 28px;
}
h4 {
    color: #5aa511;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}